<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CR4 Application.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BB8CC7E11EE5EA94002C0EF0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BB8CC7F51EE5EA94002C0EF0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BB8CC8001EE5EA94002C0EF0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
